<div class="campaign-list">
  <voting-dapp-page-title-bar
    [title]="language.language['campaigns']"

    [actionButtonText]="language.language['create_campaign']"
    (actionButtonClickedEvent)="onCreateCampaignClicked()"
  >
  </voting-dapp-page-title-bar>
  <div class="upcoming-campaigns-text">{{language.language['upcoming_campaigns']}}</div>
  <div class="upcoming-campaigns">
    <span class="scrolling-text">CSUF President , CSUF Vice President , CSUF Treasurer , CSUF Student Body President</span>
    <span class="scrolling-text">CSUF President , CSUF Vice President , CSUF Treasurer , CSUF Student Body President</span>
  </div>
  <div class="campaign-list__container">
    <voting-dapp-campaign-list-item
      *ngFor="let campaign of campaignListItems"
      class="campaign-list__container__item"
      [campaign]="campaign">
    </voting-dapp-campaign-list-item>
  </div>
</div>
