<div class="page-title-bar">
  <div class="left">
    <mat-slide-toggle
      [checked]="getAccessibility()"
      (change)="accessibilityChange($event)"
      accessibility>
      {{language.language['accessibility'] || 'Accessibility'}}
    </mat-slide-toggle>
  </div>
  <div style="width: 100px;">
    <mat-select accessibility [text]="language.language['change_language']" [value]="language.languageCode" (selectionChange)="changeLanguage($event)"
                [placeholder]="language.language['change_language']">
      <mat-option value="en" accessibility>English</mat-option>
      <mat-option value="fr" accessibility>French</mat-option>
      <mat-option value="es" accessibility>Spanish</mat-option>
      <mat-option value="zh" accessibility>Chinese</mat-option>
    </mat-select>
  </div>
  <button mat-stroked-button routerLink="/manual">{{language.language['help']}}</button>
  <h1
    accessibility
    [text]="title"
    class="page-title-bar__text">
    {{ title }}
  </h1>
  <div class="page-title-bar__actions">
    <button
      *ngIf="!!actionButtonText"
      mat-flat-button
      color="primary"
      accessibility
      (click)="actionButtonClickedEvent.emit()">
      {{ actionButtonText }}
    </button>
    <button *ngIf="!!action2ButtonText"
            mat-flat-button
            color="warn"
            accessibility
            (click)="action2ButtonClickedEvent.emit()">
      {{ action2ButtonText }}
    </button>
  </div>
</div>
